


.menu{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:grey;
    
}

.menu li {

    display:inline-block;
    font-size: 2rem;
    background-color: rgb(214, 132, 132);
    border-style:solid;
    border-color: ivory;
    border-radius: 20%;
}

.menu a{
display:inline-block;
color:white;
text-decoration: none;
padding: 20px 30px;


}

.menu a:hover {
    background-color: #756158;
    border-radius: 20%;
    }

.mojefoto{
    width: 270px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    float:left;
    margin-right:4rem;
    margin-left:10rem;
    margin-bottom:10rem;
    padding-left: 50px;
    

}


.nadpis{
    text-align: left;
    color: grey;
    font-size: 4rem;
    margin-left:34rem;
}

.odstavec{
    color:grey;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    padding-top: 35px;
    

}

body{
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;
    padding: 0px;
    background-color: #e8dbd3;
    margin: 0;
    overflow: auto;
    max-width: 100%;

}

